/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
  }
  
  .title {
    font-size: 28px;
    font-weight: 500;
    color: #281b52;
    text-align: center;
    margin-bottom: 12px;
    line-height: 40px;
  }
  
  .text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #9992a7;
    text-align: center;
  }
  
  /* Hero */
  .hero {
    background-color: transparent;
    margin: 12px;
    border-radius: 16px;
    padding: 16px;
  }
  
  .heroImage {
    width: 100%;
    height: 400px;
  }
  
  /* Content */
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
  }
  
  .contentHeader {
    padding: 24px;
  }
  
  .appName {
    background-color: #fff2dd;
    transform: rotate(-5deg);
    display: inline-block;
    padding: 0 6px;
  }
  
  .appNameText {
    font-size: 28px;
    font-weight: 700;
    color: #281b52;
  }
  
  /* Button */
  .button {
    background-color: #56409e;
    padding: 12px 14px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #45348b;
  }
  